{% extends 'base.html' %}

{% block content %}
    
    <h1 style="color: brown;">Hoạt động mới</h4>
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.author }}</h2>
                    <p>{{post.status}}</p>
                    <h3 class="card-text text-muted h6">{{ post.title }} | {{ post.created_on}} </h3>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>

    <h1 style="color: brown;">Bài viết phổ biến</h1>
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for hotpost in hotposts %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ hotpost.author }}</h2>
                    <h3>{{hotpost.status}}</h3>
                    <p class="card-text text-muted h6">{{ hotpost.title }}</p>
                    <p class="card-text">{{hotpost.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' hotpost.slug  %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>


    <h1 style="color: brown;">File Phương tiện mới chia sẻ</h1>

{% endblock content %}