body {
  margin: 0;
  background-color: #f0f2f5;
}

* {
  font-family: "Roboto", sans-serif;
}

.menu-logo {
  width: 60px;
  height: 60px;
  margin: 0 15px 0 10px;
}

.menu-bar,
.search {
  display: flex;
  flex-direction: row;
}

.search {
  background-color: #f6f6f6;
  border-radius: 10px;
  height: 40px;
  padding: 11px;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 2.58537px 2.58537px rgb(0 0 0 / 25%);
  display: flex;
  align-items: center;
}

.search-input {
  background-color: inherit;
  border: none;
  outline: none;
  font-family: inherit;
}

.search-icon {
  margin-right: 5px;
  color: #818181;
}

.menu-bar {
  height: 65px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1.58537px 6px 1px rgb(0 0 0 / 9%);
  justify-content: space-between;
  background-color: white;
}

#cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255);
  z-index: 9999;
}

.menu-navigation-buttons,
.center-both {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-row {
  display: flex;
  flex-direction: row;
}

.menu-navigation-buttons {
  padding: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 65px;
}

.left-side-menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 65px;
  align-items: center;
  z-index: 5;
}

.right-side-menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 65px;
  display: flex;
  align-items: center;
  padding-right: 15px;
  z-index: 5;
}

.user-button img {
  border-radius: 50%;
  height: 27px;
  width: 27px;
  margin-right: 7px;
}

.menu-nav-button {
  width: 111px;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #65676b;
  padding: 3px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 200ms;
  transition-property: background-color;
}

.menu-nav-button ion-icon {
  font-size: 33px;
  margin-bottom: 2px;
}

.nav-btn-text {
  font-size: 12px;
}

.nav-btn-active {
  color: #a61f12;
}

.menu-nav-button:hover {
  background-color: #f0f2f5;
}

.user-button {
  height: 40px;
  background-color: rgba(196, 196, 196, 0.4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7px;
  box-sizing: border-box;
  border-radius: 300px;
  cursor: pointer;
  transition-duration: 200ms;
  transition-property: background-color;
}

.menu-user-info {
  padding-right: 7px;
  padding-left: 4px;
  font-weight: 500;
}

.user-button:hover {
  background-color: rgba(196, 196, 196, 0.62);
}

.chat-button,
.notification-button {
  height: 40px;
  width: 40px;
  background-color: rgba(196, 196, 196, 0.4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7px;
  box-sizing: border-box;
  border-radius: 300px;
  cursor: pointer;
  margin-right: 8px;
  font-size: 23px;
  color: #404040;
  transition-duration: 200ms;
  transition-property: background-color;
}

.chat-button:hover,
.notification-button:hover {
  background-color: rgba(196, 196, 196, 0.62);
}

.nav-btn-badge {
  border-radius: 50px;
  background-color: #dd2f2f;
  color: white;
  font-size: 13px;
  width: 19px;
  height: 19px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(17px) translateY(-17px);
}

ion-icon[name="flash"] {
  position: absolute;
  color: white;
  font-size: 12px;
  transform: matrix(-0.31, -0.59, -1.09, 0.11, 0, 0);
}
